.light-theme() {
    @fg-color: #1b1b1b;
    @bg-color: #fefefe;

    color: @fg-color;
    background: @bg-color;
}

.dark-theme() {
    @fg-color: #efefef;
    @bg-color: #1b1b1b;

    color: @fg-color;
    background: @bg-color;
}
