<%
    var _            = require('underscore');
    var TemplateView = require('robo/view/TemplateView');
    var Model        = require('robo/model/Model');
    var Collection   = require('robo/model/Collection');
%>

<% var makeTable = function(m, skipWrapping) { %>
    <% if (!skipWrapping) {  %><table><% } %>
        <thead>
            <th colspan="2"><%= m.constructor.__name__ || 'Model?' %>:<%= m.id || m.cid %></th>
        </thead>
        <tbody>
        <% _(m.attributes).each(function(val, key) {
            var mv = m[key];
        %>
        <tr>
            <td><%= key %></td>
            <td>
                <% if (!_(val).isObject()) { %>
                    <%= val %>
                <% } else if (mv && mv.is && mv.is(Model)) { %>
                    <% makeTable(m[key]) %>
                <% } else if (mv && mv.is && mv.is(Collection)) { %>
                    <table>
                        <thead>
                            <th><%= mv.constructor.__name__ || 'Collection' %></th>
                        </thead>
                        <tbody>
                        <% mv.each(function(cm) { %>
                            <tr><td><% makeTable(cm); %></tr></td>
                        <% }) %>
                        </tbody>
                    </table>
                <% } %>
            </td>
        </tr>
        <% }) %>
        </tbody>
    <% if (!skipWrapping) {  %></table><% } %>
<% }; %>

<% makeTable(model, true) %>
